.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #ddd;
  }
  
  .navbar-link.active {
    color: #04AA6D; /* Indicating the active page */
  }
  